<section class="hero is-fullheight is-dark is-bold">
    <div class="hero-body image-background">
        <div class="container has-text-centered">
            <div class="box section-content">
                <h1 class="title is-1">Welcome Back</h1>
            </div>
            <div class="box section-content">
                <h2 class="title is-2">We missed you</h2>
            </div>
            <div class="box section-content">Section 3</div>
            <div class="box section-content">Section 4</div>
            <div class="box section-content">Section 5</div>
        </div>
    </div>
</section>

